@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Orbitron:wght@600&display=swap');
html, body {
  
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  font-family: Manrope, sans-serif;;
  line-height: 1.6;
  /* background: radial-gradient( 79% 251.58% at 23.18% 73.07%, #0142a0 0, #0f133a 44.41%, #101034 56.43%, #141034 69.58%, #301436 100%, #411958 0 ); */
  background: rgb(7,94,131);
  background: linear-gradient(90deg, rgba(7,94,131,1) 0%, rgba(5,19,36,1) 65%, rgba(0,0,3,1) 100%);
  padding:  2rem 1rem 0;
}

.s-center {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .s-center {
    text-align: left;
  }
}
.flex{
  display: flex;
}
h1 span a {
  text-decoration: none;
  color: aqua;
}

footer {
  
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  left: 30%;

  color: #ffffff;

  
  
}

footer p span a {
  text-decoration: none;
  color: #ffffff;
}

footer p {
  text-align: center;
}
.linea {
  color: aqua;
}
